<h1>Adding a new link</h1>

<form action='/' method='get'>
<input type='submit' value='Return to home page'>
</form>

<form action='/view_bookmarks' method='post'>

  <label for='adding_link'>
    Please insert new link here:
  <input type='text' name='adding_link'>
</label>

<input type='submit' value='Submit'>

</form>