<h1>Adding a new link</h1>

<form action='/' method='get'>
<input type='submit' value='Return to home page'>
</form>

<form action='/view_bookmarks' method='post'>

  <label for='url'>
      <input type='text' name='url'>
      <-- Please insert new link here
  </label>

    <br/>

  <label for='title'>
      <input type='text' name='title'>
      <-- Please insert title for link here
  </label>

    <br/>

<input type='submit' value='Submit'>

</form>