<h1>Bookmark Manager</h1>

<form action='/view_bookmarks' method='get'>
<input type='submit' value='View Bookmarks'>
</form>

<form action='/add' method='get'>
<input type='submit' value='Add Bookmarks'>
</form>

